/* Global variables */
@use '@angular/material' as mat;

:root {
	interpolate-size: allow-keywords;

    /* these stay here to keep animation speed correct */
	--padding-x: 6px;
	--padding-y: 6px;

	/* Humane Colors */
	// --colors-dark-primary-laser: #08ebab;
	--colors-beamBlue200: #007062;
	--colors-beamBlue200-rgb: rgb(0, 112, 98);
	--colors-beamBlue: #00FFE0;
	--colors-beamBlue-rgb: rgb(0, 255, 224);
	--colors-beamBlue10: #E8FFFB;
	--colors-beamBlue10-rgb: rgb(232, 255, 251);

	/* Holo Colors */
	--colors-holoBlue: #33b5e5;
	--colors-holoBlue-rgb: rgb(51, 181, 229);
	--colors-holoBlueDark: #2483a6;
	--colors-holoBlueDark-rgb: rgb(36, 131, 166);
	--colors-holoBlueLight: #35c0f2;
	--colors-holoBlueLight-rgb: rgb(53, 192, 242);

	// SHD ISAC Colors
	--color-isac-orange: #ff7f00; // use white foreground
	--color-isac-orange-rgb: rgb(255, 127, 0);
	--color-isac-orange-alt: #ff9722; // use black foreground
	--color-isac-orange-alt-rgb: rgb(255, 151, 34);

	--color-shd-error-red: #FF3000; // use white foreground
	--color-shd-error-red-rgb: 255, 48, 0;

	// Patios-N-Stuff Colors
	--color-patios-n-stuff-primary: #21689B;
	--color-patios-n-stuff-primary-rgb: 33, 104, 155;
	--color-patios-n-stuff-secondary: #78BDE7;
	--color-patios-n-stuff-secondary-rgb: 120, 189, 231;

	// Unhelpful Thinking Habits Colors
	--color-unhelpful-thinking-habits-primary: #89f7fe; // use black foreground
	--color-unhelpful-thinking-habits-primary-rgb: 137, 247, 254;

	// SM Miles Skiltree Colors
	--color-sm-miles-skill-tree-hd-primary: #4ffefa; // use black foreground 
	--color-sm-miles-skill-tree-hd-primary-rgb: 79, 250, 254;



	// JBH UX Colors
	--colors-jbh-primary: #005dba;
	--colors-jbh-primary-rgb: rgb(0, 93, 186);
	--colors-jbh-secondary: #4953A3;
	--colors-jbh-secondary-rgb: rgb(73, 83, 163);
	--colors-jbh-accent: #FDDA00;
	--colors-jbh-accent-rgb: rgb(253, 218, 0);

	/* Colors */
	--gray-0: #000000;
	--gray-0-rgb: 0, 0, 0;
	--gray-50: #0a0a0a;
	--gray-100: #171717;
	--gray-200: #262626;
	--gray-300: #404040;
	--gray-400: #525252;
	--gray-500: #737373;
	--gray-600: #a3a3a3;
	--gray-700: #d4d4d4;
	--gray-800: #e5e5e5;
	--gray-900: #f5f5f5;
	--gray-999-basis: 0, 0%, 100%;
	--gray-999_40: hsla(var(--gray-999-basis), 0.4);
	--gray-999-rgb: 255, 255, 255;
	--gray-999: #ffffff;

	/* Accent Colors */
	--accent-light: var(--colors-beamBlue200);
	--accent-light-rgb: var(--colors-beamBlue200-rgb);
	--accent-regular: var(--colors-holoBlue);
	--accent-regular-rgb: var(--colors-holoBlue-rgb);
	--accent-dark: var(--colors-holoBlueDark);
	--accent-dark-rgb: var(--colors-holoBlueDark-rgb);

	/* --accent-light: #35C0F2;
	--accent-regular: #33b5e5;
	--accent-dark: #2483A6; */
	--accent-overlay: hsla(196, 78%, 67%, 0.33);
	--accent-subtle-overlay: var(--accent-overlay);
	--accent-text-over: var(--gray-0);

	--link-color: var(--accent-dark);
	--link-hover: var(--accent-regular);
	--link-active: var(--accent-dark);
	--link-active-hover: var(--accent-light);

	// Panel Background Colors
	--panel-bg-blur: blur(2rem);
	--panel-bg-light: rgba(var(--gray-999-rgb), 0.33);
	--panel-on-light: var(--gray-0);
	--panel-bg-dark: rgba(var(--gray-0-rgb), 0.33);
	--panel-on-dark: var(--gray-999);
	--panel-bg-primary: rgba(var(--accent-dark-rgb), 0.66);
	--panel-on-primary: var(--gray-0);
	--panel-bg-accent: rgba(var(--accent-light-rgb), 0.66);
	--panel-on-accent: var(--gray-0);

	/* Gradients */
	--gradient-stop-1: var(--colors-beamBlue);
	--gradient-stop-2: var(--accent-light);
	--gradient-stop-3: var(--accent-dark);
    --gradient-stop-4: var(--accent-dark);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 150%);
	--gradient-accent: linear-gradient(
		180deg,
		var(--gradient-stop-1),
		var(--gradient-stop-2),
		var(--gradient-stop-3),
        var(--gradient-stop-4)
	);
	// --webkit-gradient-accent: -webkit-linear-gradient(
	// 	90deg,
    //     var(--gradient-stop-4),
	// 	var(--gradient-stop-3),
	// 	var(--gradient-stop-2),
	// 	var(--gradient-stop-1)
	// );
	--gradient-stroke: linear-gradient(180deg, var(--gray-900), var(--gray-700));
	--gradient-bg: linear-gradient(to right, var(--accent-light) 0%, var(--accent-regular) 30%, var(--gray-999) 40%, var(--gray-999) 60%, var(--accent-regular) 70%, var(--accent-light) 100%);


	// Text Shadows
	--text-shadow-sm: 0 1px 1px rgba(0, 0, 0, 0.11);
	--text-shadow-lg: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 0 rgba(255, 255, 255, 0.11);

	--filter-shadow-sm: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.11));
	--filter-shadow-lg: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.11)) drop-shadow(0 2px 0px rgba(255, 255, 255, 0.11));

	/* Shadows */
	--shadow-sm: 0px 6px 3px rgba(9, 11, 17, 0.01), 0px 4px 2px rgba(9, 11, 17, 0.01),
		0px 2px 2px rgba(9, 11, 17, 0.02), 0px 0px 1px rgba(9, 11, 17, 0.03);
	--shadow-md: 0px 28px 11px rgba(9, 11, 17, 0.01), 0px 16px 10px rgba(9, 11, 17, 0.03),
		0px 7px 7px rgba(9, 11, 17, 0.05), 0px 2px 4px rgba(9, 11, 17, 0.06);
	--shadow-lg: 0px 62px 25px rgba(9, 11, 17, 0.01), 0px 35px 21px rgba(9, 11, 17, 0.05),
		0px 16px 16px rgba(9, 11, 17, 0.1), 0px 4px 9px rgba(9, 11, 17, 0.12);

	--sl-color-accent-low: #c2dce8;
	--sl-color-accent: #005570;
	--sl-color-accent-high: #00384b;
	--sl-color-white: #121a1c;
	--sl-color-gray-1: #182a2f;
	--sl-color-gray-2: #2a3b41;
	--sl-color-gray-3: #495c62;
	--sl-color-gray-4: #7b8f96;
	--sl-color-gray-5: #bac4c8;
	--sl-color-gray-6: #e7eff2;
	--sl-color-gray-7: #f3f7f9;
	--sl-color-black: #ffffff;

	/* Text Sizes */
	--text-sm: 0.875rem;
	--text-base: 1rem;
	--text-md: 1.125rem;
	--text-lg: 1.25rem;
	--text-xl: 1.625rem;
	--text-2xl: 2.125rem;
	--text-3xl: 2.625rem;
	--text-4xl: 3.5rem;
	--text-5xl: 4.5rem;

	--font-size-min: 18;
	--font-size-max: 20;
	--font-ratio-min: 1.28;
	--font-ratio-max: 1.33;
	--font-width-min: 320;
	--font-width-max: 1500;

	/* Text size and line height */
	--sl-text-2xs: 0.75rem; /* 12px */
	--sl-text-xs: 0.8125rem; /* 13px */
	--sl-text-sm: 0.875rem; /* 14px */
	--sl-text-base: 1rem; /* 16px */
	--sl-text-lg: 1.125rem; /* 18px */
	--sl-text-xl: 1.25rem; /* 20px */
	--sl-text-2xl: 1.5rem; /* 24px */
	--sl-text-3xl: 1.8125rem; /* 29px */
	--sl-text-4xl: 2.1875rem; /* 35px */
	--sl-text-5xl: 2.625rem; /* 42px */
	--sl-text-6xl: 4rem; /* 64px */

	--sl-text-body: var(--sl-text-base);
	--sl-text-body-sm: var(--sl-text-xs);
	--sl-text-code: var(--sl-text-sm);
	--sl-text-code-sm: var(--sl-text-xs);
	--sl-text-h1: var(--sl-text-4xl);
	--sl-text-h2: var(--sl-text-3xl);
	--sl-text-h3: var(--sl-text-2xl);
	--sl-text-h4: var(--sl-text-xl);
	--sl-text-h5: var(--sl-text-lg);

	--sl-line-height: 1.75;
	--sl-line-height-headings: 1.2;


	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-Light.otf') format('opentype');
		font-weight: 100;
		font-style: normal;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-LightItalic.otf') format('opentype');
		font-weight: 100;
		font-style: italic;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-Regular.otf') format('opentype');
		font-weight: normal;
		font-style: normal;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-Italic.otf') format('opentype');
		font-weight: normal;
		font-style: italic;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-Medium.otf') format('opentype');
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-MediumItalic.otf') format('opentype');
		font-weight: 500;
		font-style: italic;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-DemiBold.otf') format('opentype');
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-DemiBoldItalic.otf') format('opentype');
		font-weight: 600;
		font-style: italic;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-Bold.otf') format('opentype');
		font-weight: bold;
		font-style: normal;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-BoldItalic.otf') format('opentype');
		font-weight: bold;
		font-style: italic;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-ExtraBold.otf') format('opentype');
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: 'Borda';
		src: url('/fonts/Borda-ExtraBoldItalic.otf') format('opentype');
		font-weight: 900;
		font-style: italic;
	}


	--font-system: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-body: 'Public Sans', var(--font-system);
	--font-brand: Borda, var(--font-system);

	/* Transitions */
	--theme-transition: 0.2s ease-in-out;
	--motion-transition: 0.3s ease-in-out;

	--starlight-image-zoom-backdrop-bg: rgba(var(--gray-999-rgb), 0.75);
	.starlight-image-zoom-opened dialog::backdrop {
		backdrop-filter: blur(3px);
	}
}

:root.theme-dark {

	--gray-0: #ffffff;
	--gray-0-rgb: 255, 255, 255;
	--gray-50: #f5f5f5;
	--gray-100: #e5e5e5;
	--gray-200: #d4d4d4;
	--gray-300: #a3a3a3;
	--gray-400: #737373;
	--gray-500: #525252;
	--gray-600: #404040;
	--gray-700: #262626;
	--gray-800: #171717;
	--gray-900: #0a0a0a;
	--gray-999-basis: 225, 31%, 5%;
	--gray-999-rgb: 0, 0, 0;
	--gray-999: #000000;

	--accent-light: var(--colors-beamBlue);
	--accent-light-rgb: var(--colors-beamBlue-rgb);
	--accent-regular: var(--colors-holoBlue);
	--accent-regular-rgb: var(--colors-holoBlue-rgb);
	--accent-dark: var(--colors-holoBlueDark);
	--accent-dark-rgb: var(--colors-holoBlueDark-rgb);
	/* --accent-light: #2483A6;
	--accent-regular: #33b5e5;
	--accent-dark: #35C0F2; */
	--accent-overlay: hsla(196, 78%, 67%, 0.33);
	--accent-subtle-overlay: hsla(196, 78%, 36%, 0.33);
	--accent-text-over: var(--gray-0);

	--link-color: var(--accent-regular);
	--link-hover: var(--colors-holoBlueLight);
	--link-active: var(--accent-dark);
	--link-active-hover: var(--accent-light);

	--gradient-stop-1: var(--accent-light);
	--gradient-stop-2: var(--accent-light);
	--gradient-stop-3: var(--accent-regular);
	--gradient-stop-4: var(--accent-regular);
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 81%);
	--gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

	--shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
	--shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
	--shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(255, 255, 255, 0.05),
		0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(255, 255, 255, 0.12);

	--sl-color-accent-low: #082834;
	--sl-color-accent: #007498;
	--sl-color-accent-high: #adcfdf;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e7eff2;
	--sl-color-gray-2: #c2ccd0;
	--sl-color-gray-3: #92a6ad;
	--sl-color-gray-4: #495c62;
	--sl-color-gray-5: #2a3b41;
	--sl-color-gray-6: #182a2f;
	--sl-color-black: #121a1c;
}

@property --animated-gradient-color-1 {
	syntax: "<color>";
	inherits: false;
	initial-value: #000;
  }
@property --animated-gradient-color-2 {
	syntax: "<color>";
	inherits: false;
	initial-value: #000;
  }
@property --animated-gradient-color-3 {
	syntax: "<color>";
	inherits: false;
	initial-value: #000;
  }
@property --animated-gradient-color-4 {
	syntax: "<color>";
	inherits: false;
	initial-value: #000;
  }

@property --size {
	initial-value: 0;
	inherits: true;
	syntax: '<length>';
  }

  :where(.fluid) {
	--fluid-min: calc(
	  var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
	);
	--fluid-max: calc(
	  var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
	);
	--fluid-preferred: calc(
	  (var(--fluid-max) - var(--fluid-min)) /
		(var(--font-width-max) - var(--font-width-min))
	);
	--fluid-type: clamp(
	  (var(--fluid-min) / 16) * 1rem,
	  ((var(--fluid-min) / 16) * 1rem) -
		(((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
		(var(--fluid-preferred) * var(--variable-unit, 100vi)),
	  (var(--fluid-max) / 16) * 1rem
	);
	font-size: var(--fluid-type) !important;
  }

// start angular material theme
$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
  )
);

html {
	@include mat.all-component-themes($theme);
	&.theme-dark {
		@include mat.all-component-themes($dark-theme);
	}
}
  
@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

// end angular material theme

html,
body {
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background-color: var(--gray-999);
	/* svg gradient background here eventually */
	color: var(--gray-200);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
}
a:hover, a:focus-visible {
	color: var(--link-hover);
}
a:active {
	color: var(--link-active);
}
a:active:hover {
	color: var(--link-active-hover);
}
a.interactive:not(.icon-link-button) svg {
	vertical-align: text-bottom;
}
a.link.interactive {
	font-weight: 500;
	display: inline-block;
	text-decoration: none;
	&:hover,
	&:focus-visible {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 600;
	color: var(--gray-100);
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
}

.text-gradient-accent {
    background-image: var(--gradient-accent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient-subtle {
    background-image: var(--gradient-subtle);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-gradient-stroke {
    background-image: var(--gradient-stroke);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes gradient-change {
	to {
	  --animated-gradient-color-1: var(--gradient-stop-4);
	  --animated-gradient-color-2: var(--gradient-stop-3);
	  --animated-gradient-color-3: var(--gradient-stop-2);
	  --animated-gradient-color-4: var(--gradient-stop-1);
	}
  }
.animated-text-gradient {
	--animated-gradient-color-1: var(--gradient-stop-1);
	--animated-gradient-color-2: var(--gradient-stop-2);
	--animated-gradient-color-3: var(--gradient-stop-3);
	--animated-gradient-color-4: var(--gradient-stop-4);

	animation: gradient-change 5s ease-in-out infinite alternate;
	background: linear-gradient(
    to bottom in oklch, 
    var(--animated-gradient-color-1),
    var(--animated-gradient-color-2),
    var(--animated-gradient-color-3),
    var(--animated-gradient-color-4)
  );
  
  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* modern browser version */
  background-clip: text;
  color: transparent;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.divider {
	margin: 1rem;
	border-color: rgba(var(--gray-0-rgb), 0.33);
	border-style: solid;
}

.panel-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 1rem;
	padding: 1rem 0;
}

.panel-gap {
	height: 0.5rem;
	width: 100%;
}

starlight-image-zoom-zoomable {
	width: unset !important;
}
.starlight-image-zoom-dialog {
	.starlight-image-zoom-control {
		background-color: var(--gray-999) !important;
		color: var(--accent-regular);
		border: 2px solid var(--accent-regular) !important;
	}
	figure {
		figcaption {
			color: var(--accent-text-over);
			backdrop-filter: blur(1px);
			background-color: var(--accent-subtle-overlay) !important;
			border-top: 1px solid var(--accent-subtle-overlay) !important;
			text-shadow: var(--text-shadow-lg);
			text-align: center;
		}
	}
}


@layer magnetism {
	:root {
	  --elastic-out: linear(
		0,
		0.2178 2.1%,
		1.1144 8.49%,
		1.2959 10.7%,
		1.3463 11.81%,
		1.3705 12.94%,
		1.3726,
		1.3643 14.48%,
		1.3151 16.2%,
		1.0317 21.81%,
		0.941 24.01%,
		0.8912 25.91%,
		0.8694 27.84%,
		0.8698 29.21%,
		0.8824 30.71%,
		1.0122 38.33%,
		1.0357,
		1.046 42.71%,
		1.0416 45.7%,
		0.9961 53.26%,
		0.9839 57.54%,
		0.9853 60.71%,
		1.0012 68.14%,
		1.0056 72.24%,
		0.9981 86.66%,
		1
	  );
	}
  
	/* Target buttons specifically within .button-container elements */
	.interactive {
	  /* Properties for buttons within the container */
	  --ease: ease;
	  --speed: 0.1s;
	}
  
	/* Target buttons with hover or focus-within state inside .button-container elements */
	.interactive:is(:hover, :focus-within) {
	  --active: 1;
	  --speed: 0s;
	}
  
	/* Target buttons regardless of container type using the :where pseudo-class */
	:where(.interactive) {
	  translate: calc(clamp(-1, var(--magnet-x), 0.95) * var(--padding-x, 0.25rem))
		calc(clamp(-1, var(--magnet-y), 0.95) * var(--padding-y, 0.25rem));
	  transition: translate var(--speed, 0.25s) var(--ease, ease-out),
		outline-color 0.25s, background-color 0.25s, text-shadow 0.01s, box-shadow 0.1s,
		transform 0.3s;
	}
  
	/* Target buttons on hover and apply opposite box-shadow */
	:where(.interactive.special:hover, .interactive.special:active, .interactive.special:focus-visible) {
	  text-shadow: calc(
		  0px - (clamp(-1, var(--magnet-x), 1) * var(--padding-x, 0.25rem))
		)
		calc(0px - (clamp(-1, var(--magnet-y), 1) * var(--padding-y, 0.25rem))) 5px
		var(--accent-light);
	}
  }

/* Utilities */

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.wrapper {
	width: 100%;
	max-width: 83rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.stack {
	display: flex;
	flex-direction: column;
}

.spacer-1 {
	height: 0.5rem;
}
.spacer-2 {
	height: 1rem;
}
.spacer-3 {
	height: 1.5rem;
}
.spacer-4 {
	height: 2rem;
}
.spacer-5 {
	height: 2.5rem;
}
.spacer-6 {
	height: 3rem;
}


.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
}

@media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
}
