---
import { Icon } from "astro-icon/components";
import FlipHeader from "../components/FlipHeader.astro";
import LinkIconButton from "../components/LinkIconButton.astro";
import SubHeader from "../components/SubHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import augmentedAlexProfilePhoto from "../images/augmented-alex-profile-photo-v2.jpg";
import alexReddicksProfilePhoto from "../images/alex-reddicks-profile-photo.jpg";
---

<BaseLayout title="augmented.alex - about">
  <main>
    <div class="header">
      <FlipHeader />
      <SubHeader subheading="about">
        <LinkIconButton
          slot="left"
          reveal
          label="back"
          icon="mdi:arrow-back"
          link="javascript:history.back()"
        />
      </SubHeader>
    </div>
    <div class="profile-photo">
      <Image
        class="dark"
        src={augmentedAlexProfilePhoto}
        alt="Profile photo of Alex."
      />
      <Image
        class="light"
        src={alexReddicksProfilePhoto}
        alt="Profile photo of Alex."
      />
    </div>
    <div class="text-body">
      <h3>Crafting experiences for building a more hopeful future together</h3>
      <br />
      <p class="summary">
        I am a UX Design Engineer with experience in full-stack
        development that is passionate about crafting intuitive, accessible
        digital experiences. With a sharp eye for detail and a love for
        micro-interactions, I create experiences that are a joy to use. I enjoy
        learning and collaborating on projects that improve people's lives and
        well-being.
      </p>
      <br /><hr /><br />
      <p class="summary">
        This website is a continuous work in progress and could be
        considered the seed of my <a
          href="https://maggieappleton.com/garden-history"
          target="_blank"
          rel="noopener"
          class="interactive link"
          >Digital Garden <Icon name="mdi:external-link" /></a
        >, where I will be building and learning in public. As you visit (and
        re-visit) this space, things will grow and evolve as my design and
        engineering skills do.
      </p>
    </div>
    <div class="social-links">
      <h3>where to find me on the web</h3>
      <div class="flex-center">
        <LinkIconButton
          label="Email"
          icon="mdi:email"
          link="mailto:areddicks1014@gmail.com"
          external
        />
        <LinkIconButton
          label="LinkedIn"
          icon="mdi:linkedin"
          link="https://www.linkedin.com/in/areddicks1014/"
          external
        />
        <LinkIconButton
          label="Codepen"
          icon="mdi:codepen"
          link="https://codepen.io/augmented-alex"
          external
        />
        <LinkIconButton
          label="Dribbble"
          icon="mdi:dribbble"
          link="https://dribbble.com/augmented-alex"
          external
        />
        <LinkIconButton
          label="Fitbit"
          icon="mdi:watch-variant"
          link="https://gallery.fitbit.com/developer/ab8c88ee-3f5b-47f2-8c70-22e4d6d26f3c"
          external
        />
        <LinkIconButton
          label="Github"
          icon="mdi:github"
          link="https://github.com/areddicks1014"
          external
        />
        <LinkIconButton
          label="Figma"
          icon="solar:figma-bold"
          link="https://www.figma.com/@augmentedalex"
          external
        />
      </div>
    </div>
  </main>
</BaseLayout>

<style lang="scss">
  @-webkit-keyframes ScaleIn {
    0% {
      transform: scale(0.95) translateY(3px);
    }
    100% {
      transform: scale(1) translate(0px);
    }
  }
  @keyframes ScaleIn {
    0% {
      transform: scale(0.95) translateY(3px);
    }
    100% {
      transform: scale(1) translateY(0px);
    }
  }
  @keyframes bg-fill {
    to {
      backdrop-filter: blur(2rem);
    }
  }
  html[data-theme="github-light"] .dark {
    display: none;
  }
  html[data-theme="github-dark"] .light {
    display: none;
  }
  main {
    margin: 1rem auto;
    max-width: calc(100% - 2rem);
  }
  .header {
    margin: 0 -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 10;
    position: sticky;
    top: -100px;
    backdrop-filter: blur(0);
    animation: bg-fill linear both;
    animation-timeline: scroll();
    animation-range: 10vh 50vh; /* adjust vibes here */
  }
  .profile-photo {
    width: 200px;
    height: 200px;
    margin: 1rem auto;
    border-radius: 100px;
    overflow: hidden;
    shape-outside: circle();
    animation: ScaleIn 0.5s cubic-bezier(0.19, 1, 0.22, 1) both;
  }
  .text-body {
    max-width: 600px;
    margin: auto;
    padding: 1rem 0.5rem;
    text-wrap: pretty;
    > * {
      animation: ScaleIn 0.5s cubic-bezier(0.19, 1, 0.22, 1) both;
      @for $i from 1 through 100 {
        &:nth-child(#{$i}n) {
          animation-delay: #{$i * 0.08}s;
        }
      }
    }
  }
  .summary {
    font-size: var(--text-lg);
    a.link.interactive {
      font-weight: 500;
      display: inline-block;
      text-decoration: none;
      &:hover,
      &:focus-visible {
        text-decoration: underline;
      }
    }
  }
  .social-links {
    text-align: center;
    margin-top: 1rem;
  }
  .social-links .flex-center {
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem 0;
  }
</style>
