---
import BaseLayout from '../layouts/BaseLayout.astro';
import HomeListItem from '../components/HomeListItem.astro';
import FlipHeader from '../components/FlipHeader.astro';
import SubHeader from '../components/SubHeader.astro';
import { Image } from 'astro:assets';
---

<BaseLayout>
	<main>
		<!-- <h1 class="text-gradient">augmented.alex</h1> -->
		 <div class="header">
			<FlipHeader/>
			<SubHeader subheading='UX Design Engineer'/>
		 </div>
		<ul role="list" class="main-list">
			<HomeListItem label="work" link="/work/"></HomeListItem>
			<HomeListItem label="case studies" link="/case-studies/"></HomeListItem>
			<HomeListItem label="resume" link="/resume/"></HomeListItem>
			<HomeListItem label="about" link="/about/"></HomeListItem>
		</ul>
		<div class="spacer-4"></div>
		<div class="footer flex-center">
			<Image src="/augmented-alex-logo.svg" alt="Augmented Alex Logo" width="75" height="75"></Image>
		</div>
	</main>
</BaseLayout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
	}
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
	}
	.header :global(h2.subheading) {
		font-size: var(--text-3xl);
		color: var(--accent-light);
	}
	.main-list {
		display: flex;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
		padding: 0;
		font-size: var(--text-4xl);
	}
</style>
<script>
	// Add “loaded” class once the document has completely loaded.
	addEventListener('load', () => document.documentElement.classList.add('loaded'));
</script>
