---
import { Icon } from "astro-icon/components";
import FlipHeader from "../components/FlipHeader.astro";
import LinkIconButton from "../components/LinkIconButton.astro";
import SubHeader from "../components/SubHeader.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="augmented.alex - resume">
  <main>
    <div class="header">
      <FlipHeader />
      <SubHeader subheading="resume">
        <LinkIconButton
          slot="left"
          label="back"
          reveal
          icon="mdi:arrow-back"
          link="/"
        />
        <LinkIconButton
          slot="right"
          label="downloads"
          secondary
          reveal
          id="scroll-to-downloads"
          icon="mdi:download"
          link="#downloads"
        />
      </SubHeader>
    </div>
    <div class="text-body">
      <div class="resume-section">
        <h3>Employment</h3>
        <h4>JB Hunt Transport Inc</h4>
        <h5>Software Engineer II (April 2018 - September 2024)</h5>
        <ul>
          <li>Front-end Lead on 'Platform FAQ' Angular web application</li>
          <li>
            Worked on the Design System team where I streamlined Azure DevOps
            CI/CD pipelines for icons, updated documentation, added custom
            functionalities for our Angular and PrimeNg components
          </li>
          <li>
            Conducted design research that led to the company-wide initiative for
            our team to assist in updating all product teams to the latest Design
            System and Angular versions, how to measure product team compliance,
            and ways to ensure visibility on progress to the stakeholders
          </li>
          <li>Instructor for internal Angular NgRx class</li>
          <li>Helped create 'Tracking', 'Yards' Angular web applications</li>
        </ul>
        <h4>EveryChannel Marketing</h4>
        <h5>Web Developer (Jan 2016 - Dec 2017)</h5>
        <ul>
          <li>
            Responsible for creating and modifying Drupal and WordPress templates
            for the client’s needs.
          </li>
          <li>
            Architected hosting and storage solutions with Amazon Web Services
          </li>
        </ul>
        <h4>CIS Department at Arkansas Tech University</h4>
        <h5>Work study (Sep 2012 - Jan 2016)</h5>
        <ul>
          <li>
            I did various work for the department such as filing papers,
            delivering paperwork/etc. to other departments, assisting with
            networking, as well as studying for classes.
          </li>
          <li>
            I also tutored other students in programming such as C++, C#,
            HTML/CSS, JavaScript, etc.
          </li>
        </ul>
      </div>
      <hr class="divider" />
      <div class="resume-section">
        <h3>Projects | Work | Experience</h3>
        <h4>Web Apps</h4>
        <ul>
          <li>
            <a
              class="interactive"
              href="https://unhelpful-thinking.firebaseapp.com/"
              target="_blank"
              rel="noopener"
              >Unhelpful Thinking Habits (2017) <Icon
                name="mdi:external-link"
              /></a
            >
          </li>
          <li>
            <a
              class="interactive"
              href="https://patios-n-stuff.firebaseapp.com/"
              target="_blank"
              rel="noopener"
              >Patios-N-Stuff (2017) <Icon name="mdi:external-link" /></a
            >
          </li>
          <li>
            <a
              class="interactive"
              href="https://areddicks1014.firebaseapp.com/"
              target="_blank"
              rel="noopener"
              >Old Portfolio Site (2017) <Icon name="mdi:external-link" /></a
            >
          </li>
        </ul>
        <h4>Fitbit/Pebble</h4>
        <ul>
          <li>
            ISACv1 watch face (Pebble, <a
              class="interactive"
              href="https://gallery.fitbit.com/details/f22839a7-513c-442c-a273-03ba5c4f144f"
              target="_blank"
              rel="noopener">Versa <Icon name="mdi:external-link" /></a
            >)
          </li>
          <li>
            Miles Skill Tree watch face (<a
              class="interactive"
              href="https://gallery.fitbit.com/details/de8214b4-4ecf-4e14-aa33-8de9d5f4f94b"
              target="_blank"
              rel="noopener">Versa <Icon name="mdi:external-link" /></a
            >, <a
              class="interactive"
              href="https://gallery.fitbit.com/details/579c6239-b87e-4d4a-9305-7d0635965682"
              target="_blank"
              rel="noopener">Sense <Icon name="mdi:external-link" /></a
            >)
          </li>
        </ul>
      </div>
      <hr class="divider" />
      <div class="resume-section">
        <h3>Skills | Tools | Languages</h3>
        <h4>Proficient In:</h4>
        <ul>
          <li>HTML, CSS, SCSS</li>
          <li>JavaScript, TypeScript</li>
          <li>Angular, Astro, React, Polymer</li>
          <li>NgRx</li>
          <li>Application/Web Design</li>
          <li>Wireframing, User Journeys</li>
          <li>Figma</li>
          <li>Firebase</li>
          <li>Azure DevOps</li>
        </ul>
        <h4>Additional Skills:</h4>
        <ul>
          <li>Amazon Web Services</li>
          <li>Drupal, WordPress</li>
          <li>C++/C#</li>
          <li>Java, Android</li>
        </ul>
      </div>
      <hr class="divider" />
      <div class="resume-section">
        <h3>Education</h3>
        <h4>Certificates</h4>
        <h5>Google UX Design Professional Certificate (Dec 2024)</h5>
        <ul class="list-style-none">
          <li>
            <Icon name="mdi:verified" /> Verified by <a
              class="interactive"
              href="https://www.credly.com/badges/e96203a7-420b-42fd-8fcc-360bf11e41b8/public_url"
              target="_blank"
              rel="noopener"
            >
              Credly <Icon name="mdi:external-link" /></a
            > and <a
              class="interactive"
              href="https://coursera.org/verify/professional-cert/63CU08X3N7XZ"
              target="_blank"
              rel="noopener"
            >
              Coursera <Icon name="mdi:external-link" /></a>
          </li>
        </ul>
        <h4>Arkansas Tech University</h4>
        <h5>(Aug 2010 - 2016)</h5>
        <ul>
          <li>
            Senior project involved working with the FBI and the Emergency
            Management Department on campus to build a Windows application that
            would help someone quickly contact the appropriate admin office within
            a specific county, city, or district. Key features were a backend
            database as well as an intuitive and responsive UX/UI design with an
            interactive map.
          </li>
        </ul>
      </div>
      <hr class="divider" />
      <div class="resume-section">
        <h3>Volunteering</h3>
        <ul>
          <li>Habitat for Humanity</li>
          <li>Saint Vincent de Paul Community Garden and “Hot Meals” program</li>
          <li>GiveCamp NWA</li>
        </ul>
      </div>
      <hr class="divider" />
      <div class="resume-section">
        <h3>Interests</h3>
        <ul>
          <li>Keeping up with the latest technologies</li>
          <li>Pursuing physical and outdoor activities</li>
          <li>Playing video games</li>
          <li>Sketching/coding personal designs</li>
        </ul>
      </div>
      <hr class="divider" />
    </div>
    <div id="downloads" #downloads class="download-links">
      <h3>download resume</h3>
      <div class="flex-center">
        <LinkIconButton
          label="Docx"
          icon="mdi:file-document"
          link="https://firebasestorage.googleapis.com/v0/b/augmented-alex-mini.appspot.com/o/files%2Fresume-alex-reddicks-v5d.docx?alt=media&token=5892ab0a-04a4-40e5-afcd-bafa7aa36c88"
        />
        <LinkIconButton
          label="PDF"
          icon="mdi:adobe-acrobat"
          link="https://firebasestorage.googleapis.com/v0/b/augmented-alex-mini.appspot.com/o/files%2Fresume-alex-reddicks-v5d.pdf?alt=media&token=75bb7219-e80d-4f44-a0bf-a4ef7e4dbc56"
          external
        />
      </div>
    </div>
  </main>
</BaseLayout>

<style lang="scss">
  @-webkit-keyframes ScaleIn {
    0% {
      transform: scale(0.95) translateY(3px);
    }
    100% {
      transform: scale(1) translate(0px);
    }
  }
  @keyframes ScaleIn {
    0% {
      transform: scale(0.95) translateY(3px);
    }
    100% {
      transform: scale(1) translateY(0px);
    }
  }
  @keyframes bg-fill {
    to {
      backdrop-filter: blur(2rem);
    }
  }
  main {
    margin: 1rem auto;
    max-width: calc(100% - 2rem);
  }
  h3 {
    color: var(--gray-50);
    margin: 0.5rem -0.5rem;
    width: fit-content;
    position: sticky;
    top: 100px;
    z-index: 9;
    &::before {
      content: "";
      z-index: -1;
      display: inline-block;
      position: absolute;
      left: -0.5rem;
      width: calc(100% + 1rem);
      height: calc(100% + 0.75rem);
      backdrop-filter: blur(0);
      animation: bg-fill linear both;
      animation-timeline: scroll();
      animation-range: 0vh 75vh; /* adjust vibes here */
    }
  }
  h4 {
    color: var(--gray-100);
    margin: 0.5rem 0;
  }
  h5 {
    color: var(--gray-300);
  }
  .header {
    margin: 0 -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    z-index: 10;
    position: sticky;
    top: -100px;
    backdrop-filter: blur(0);
    animation: bg-fill linear both;
    animation-timeline: scroll();
    animation-range: 10vh 50vh; /* adjust vibes here */
  }
  .text-body {
    max-width: 600px;
    margin: -0.5rem auto auto auto;
    padding: 0 1rem;
    text-wrap: pretty;
    .resume-section {
      position: relative;
      > * {
        animation: ScaleIn 0.25s cubic-bezier(0.2, 0, 0, 1) both;
        @for $i from 0 through 100 {
          &:nth-child(#{$i}n) {
            animation-delay: #{$i * 0.04}s;
          }
        }
      }
    }
    ul {
      font-size: var(--text-lg);
      text-wrap: balance;
      &.list-style-none {
        margin-top: 0.25rem;
        list-style: none;
        li {
          margin-left: -1.35rem;
          svg {
            vertical-align: text-bottom;
          }
        }
      }
    }
    a {
      font-weight: 500;
      display: inline-block;
      text-decoration: none;
      &:hover,
      &:focus-visible {
        text-decoration: underline;
      }
    }
  }
  #downloads {
    h3 {
      margin: auto;
    }
  }
  .download-links {
    text-align: center;
    margin-top: 1rem;
    .flex-center {
      gap: 1rem;
      flex-wrap: wrap;
      margin: 1rem 0;
    }
  }
</style>
<script src="../utilities/magnetism.ts"></script>
<script>
  document
    .getElementById("scroll-to-downloads")
    ?.addEventListener("click", (event) => {
      event.preventDefault();
      const downloadsSection = document.getElementById("downloads");
      downloadsSection?.scrollIntoView({ behavior: "smooth" });
    });
</script>
