---
import { Icon } from 'astro-icon/components';

interface Props {
    id?: string,
    link?: string,
    icon?: string,
    label?: string | never,
    reveal?: boolean,
    secondary?: boolean,
    external?: boolean
}

const { id, link, icon, label, reveal, secondary, external = false } = Astro.props;
---

<a id={id} href={link ?? ''} target={external ? '_blank' : '_self'} rel={external ? 'noopener': 'noreferrer'}
    class="interactive link-icon-button flex-center">
    <Icon name={icon} class={secondary ? 'icon secondary' : 'icon'}></Icon>
    <span aria-label={label} class={reveal ? 'label reveal' : 'label'}>{label}</span>
</a>

<style lang="scss">
    .link-icon-button {
      color: var(--link-color);
      padding: var(--padding-x) var(--padding-y);
      text-decoration: none;
      flex-direction: column;
    
      &:hover,
      &:focus {
        color: var(--link-hover);
        font-weight: bold;
    
        &:active {
          color: var(--link-active-hover);
        }
      }
    
      .icon {
        border-radius: 35px;
        transition: border 0.2s, color 0.2s;
        border: 2px solid transparent;
        height: 55px;
        width: 55px;
        padding: 5px;
        &.secondary {
            border-style: dashed;
        }
      }
    
      &:hover {
        .icon {
          border: 2px solid var(--link-hover);
          &.secondary {
            border-style: dashed;
          }
        }
    
        &.reveal {
          color: var(--link-hover);
          transform: scale(1, 1) translateY(0);
        }
      }
    
      &:focus {
        .icon {
          border: 2px solid var(--link-active-hover);
        }
      }
    
      .label {
        font-family: var(--font-brand);
        font-weight: 600;
        transition: all 0.2s;
    
        &.reveal {
          transform: scale(0.25, 0.25) translateY(-20px);
          color: transparent;
        }
      }
    
      &:hover .label,
      &:focus .label {
        font-weight: bold;
    
        &.reveal {
          color: var(--link-hover);
          transform: scale(1, 1) translateY(0);
        }
      }
    
      &:hover:active .label,
      &:focus:active .label {
        font-weight: bold;
        color: var(--link-active-hover);
    
        &.reveal {
          color: var(--link-active-hover);
        }
      }
    }
    
</style>
<script src="../utilities/magnetism.ts"></script>