---
import { ViewTransitions } from 'astro:transitions';
import '../styles/global.scss';

interface Props {
	title?: string;
	description?: string;
	class?: string;
}

const { 
	title = 'augmented.alex', 
	description = 'The personal web portfolio of Alex Reddicks: UX Design Engineer.',
	class: className,
	...rest 
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" property="og:description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/augmented-alex-logo.svg" />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		<link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<ViewTransitions/>
	</head>
	<body class:list={['mat-typography', className]} {...rest}>
		<slot />
	</body>
</html>
<style is:global>
	body {
		background-image: radial-gradient(circle at 2px 2px, var(--gray-700) 1.5px, transparent 0);
  		background-size: 60px 60px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>